//Colors
$ci-color-primary: #052150;
$ci-color-light-green: #6bdd99;
$ci-color-light-blue: #65a4ef;

//State Colors
$ci-color-success: #168929;
$ci-color-error: #9b1a15;
$ci-color-warning: #bf8303;
$ci-color-info: #2649d6;

//Extended Neutral Color
$ci-color-background: #fafafa;
$ci-color-white: #ffffff;
$ci-color-neutral-100: #e8eaed;
$ci-color-neutral-200: #cbcfd6;
$ci-color-neutral-300: #a9aebb;
$ci-color-neutral-600: #424753;
$ci-color-neutral-900: #282c33;
$ci-color-neutral-1000: #0f1928;

// Typography
$ci-font-size-base: 14px;
$ci-font-size-heading-1: 24px;
$ci-font-size-heading-2: 32px;
$ci-font-size-heading-3: 40px;
